*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Ignore Heavy AI Engine Models
app/src/main/assets/indic-eng/
app/src/main/assets/indictrans2_200m/
*.bin
model.SRC
model.TGT
